/* Background */
body{
    background-color:#f5f5f5;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

/* Navbar */
.navbar{
    margin-bottom:20px;
}

/* Card */
.card{
    border:none;
    border-radius:10px;
}

/* Heading */
h2,h3{
    text-align:center;
    font-weight:bold;
    color:#333;
}

/* Button */
.btn-success{
    font-size:18px;
}

/* Table */
table{
    background:white;
}

th{
    text-align:center;
}

td{
    text-align:center;
    vertical-align:middle;
}

/* Action Buttons */
.edit-btn{
    margin-right:5px;
}

.delete-btn{
    margin-left:5px;
}